* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.logo-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    /* space between image and text */
}

header img {
    width: 100px;
    /* make it smaller */
    display: block;
}

body {

    background-color: #000000;
    line-height: 1.6;
    color: #100f0f;
}

footer {
    margin-top: 20px;
    background: rgb(16, 16, 16);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  
}

header {
    background: rgb(16, 16, 16);
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px 15px; */
}

header h1 {
    font-size: 1.8em;
    margin: 0;
    gap: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font: size 20px;;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 10px;
    border-radius: 4px;

}

nav ul li a:hover,
nav ul li a.active {
    
    color: #10b981;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #10b981;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    
    user-select: none;
}

.btn:hover,
.btn:focus {
    background-color: #10b981;
    outline: none;
}

.btn:active {
    background-color: #10b981;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 1000;
}

@media (max-width: 780px) {
    .logo-wrap img {
        display: none;
    }

    .hamburger {
        display: block;

    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        overflow: hidden;
        gap: 20px;
        box-shadow: 2px 3px 8px rgba(255, 255, 255, 0.745);
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 999;
        /* Animation setup */
        max-height: 0;
        opacity: 0;
        transition: max-height 0.2s ease,  0.2s ease;
       
    }
    .nav-links li {
    border-bottom: 1px solid #10b981;    
     width: 100%;
    text-align: center
    }
    .nav-links li:last-child {
    border-bottom: none;
}



    .nav-links.open {
        max-height: 400px;
        /* enough space for all links */
        opacity: 1;
       

    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        
    }


}