.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/florian-olivo-Mf23RF8xArY-unsplash.jpg') no-repeat center center/cover;
  color: white;
  padding: 180px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}



.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero .btn:hover {
  background: #0056D2;
}

.products {
  padding: 50px 0;
  background: #fff;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: #ffffff;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0;
  color: #002B80;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 10px;
  color: #007BFF;
}

.product-card button {
  background: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.product-card button:hover {
  background: #0056D2;
}

.about {
  background: #e6f0ff;
  padding: 50px 0;
  text-align: center;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #002B80;
}


@media (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }



  .hero {
    padding: 100px 20px;
  }

  .hero h2 {
    font-size: 2em;
  }
}