
.container h1{
  color: #37b31b;
}
.services-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.service-card {
  background: rgb(46, 46, 46);
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 6px 18px rgba(120, 121, 123, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  border: #268b10 solid;
}
.service-card:hover {
  transform: translateY(-10px);
}

.service-img {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  object-fit: contain;
}

.service-title {
  color: #499638;
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.service-summary {
  font-size: 1.05rem;
  margin-bottom: 20px;
  color: #c7c4c4;
}




.read-more-toggle {
  display: none;
}

.read-more-label {
  cursor: pointer;
  color: #499638;
  font-weight: 600;
  margin-bottom: 0;
  user-select: none;
  transition: color 0.3s ease;
}
.read-more-label:hover {
  color: #94f57e;
}

.read-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  color: #a09d9d;
  font-size: 1rem;
  margin-top: 10px;
}


.read-more-toggle:checked ~ .read-more-content {
  max-height: 300px;
}


.read-more-toggle:checked + .read-more-label::after {
  content: " Read less ▲";
  font-size: 0.9rem;
}
.read-more-label::after {
  content: " Read more ▼";
  font-size: 0.9rem;
}

.pc-builder {
  background: #2e2e2e;
  padding: 40px 30px;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 43, 128, 0.15);
  text-align: center;
  color: #186c06;
  border: #268b10 solid;
}

.pc-builder h2 {
  font-size: 2.4em;
  margin-bottom: 10px;
}

.pc-builder p {
  margin-bottom: 30px;
  font-size: 1.1em;
  color: #37b71a;
}

.pc-builder form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-group select {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #499638;
  border-radius: 6px;
  font-size: 1em;
  color: #000000;
  background: white;
  transition: border-color 0.3s ease;
}

.form-group select:focus {
  border-color: #499638;
  outline: none;
}

.order-btn {
  background: #034b08;
  color: white;
  border: none;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.order-btn:hover {
  background: #9bec89;
}


@media (max-width: 600px) {
  .pc-builder {
    padding: 30px 20px;
    margin: 30px 10px;
  }
}




@media (max-width: 150px) {
  body {
    padding: 30px 15px;
  }
  .service-card {
    padding: 20px 15px;
  }
}



